/* *{
    margin: 0;
    padding: 0;
} */
.Awalad_vai {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding: 0px 40px;

}

.Download_Resume {
    border-radius: 10px;
    /* padding: 10px 5px 5px 5px; */
    /* border: 0px 0px 10px 0px; */
}

.first_banner {
    background-image: url(../ass_pic/Hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1510px;
    height: 500px;
    border: 50px 0px 5px 0px;
}

.comp_coder_pic {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.In_the_near_i_am_mainur_islam {
    text-align: center;
}

.In_the_near {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.i_am_mainur_islam {
    text-align: center;
}

.Contact_with_me {
    position: absolute;
    /* bottom: 0; */
    left: 45%;
    border-radius: 5px;
    padding: 20px 10px 10px 10px;

}

.Contact_with_me a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}

.Why_Web_Development {
    border: 300px, 500px;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 50px;
}

.Why_Web {
    text-align: center;
}

.I_will_Do1 {
    display: flex;
    justify-content: space-around;
    padding: 30px 70px;
}

.I_will_help {
    display: flex;
    justify-content: space-around;
    padding: 30px 70px;

}

.I_will_Do2 {
    display: flex;
    justify-content: space-around;
    padding: 30px 70px;
}

.Inspiration {
    text-align: center;
}

.youtube_video {
    display: flex;
    justify-content: center;
}

.Current_Target {
    text-align: center;
}

.html_css_js {
    display: flex;
    justify-content: center;
    gap: 20px;
    /* border: 300px; */

}

.learn_more4 {
    text-decoration: none;
    text-decoration-color: black;
}

.html {
    background-color: antiquewhite;
    height: 230px;
    width: 219px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px;


}

.css {
    background-color: aliceblue;
    height: 230px;
    width: 219px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px;

}

.js {
    background-color: bisque;
    height: 230px;
    width: 219px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px;
}

.Next_Target {
    text-align: center;

}

.Next_Target_section {
    max-width: 700px;
    margin: 0 auto;

}

.R_N_M {
    text-align: center;
    /* display: flex; */


}

.ReactJS {
    /* text-align: center; */
    display: flex;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 15px;
}

.NodeJs {
    display: flex;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 15px;

}

.MongoDB {
    display: flex;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 15px;

}

.deco {
    text-decoration: none;
}

.need_Support1 {
    width: 100%;
    background-image: url('../ass_pic/handshake.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5% 0 5% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5% 0 5% 0;
}

.need_Support {
    text-align: center;
    padding: 5% 0% 5% 0%;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.need_Support h4 {
    color: white;
    font-size: 2em;
}

.need_Support p {
    color: white;
    font-weight: 600;
}

.Suggest {
    width: 150px;
    height: 50px;
    padding: 10px 20px;


    /* color: white; */

    border-radius: 10px;
}

.Suggest {
    width: 25%;
    width: 510px;
    height: 57px;
    border-radius: 10px;

}

.social-icon_sob a {
    text-decoration: none;
}

.submit-button {
    width: 120px;
    height: 80px;
    border-radius: 10px;
}

.last_part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #8585858c;
}

.test {
    width: 100%;
    border: 1px solid red;
    background-image: url('./bg-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateY(-50%);
    padding: 5% 0 5% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.test h4 {
    color: white;
    font-size: 2em;
}

.test p {
    color: white;
}